@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

::-webkit-scrollbar {
    width: 10px;
    border-radius:10px;
    margin-right: 20px;
    height: 20px;
    
  }
  
  /* Track */
::-webkit-scrollbar-track {
    background: #ffffff; 
    border-radius:20px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ada9a9; 
    border-radius: 5px;

    
   
  }
  
  /* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
    background: grey; 
  }

  *{
    box-sizing: border-box;
  }